body {
    background: #fff;
    color: #303846;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
   /* height: 100%; */
}
div, a, img, form, button {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
header {
    width: auto;
    padding: 0;
    background: #fff;
}
img {
    margin-right: 18px;
    margin-left: 20px;
}
.main-navigation {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.site-navigation {
    display: flex;
    list-style: none;
    margin-left: auto;

}
.site-navigation li a {
    color: #303846;
    margin-right: 20px;
}
.banner {
    height: 400px;
    background: url(/images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-image {
    margin-top: 36px;
}
h1 {
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}
.tagline {
    font-size: 14px;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}