body {
    background-color: #fff;
    color: #303846;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.header {
    position: fixed;
    width: 100%;
    padding: 0;
    background: #fff;
}
.header-logo {
    float: left;
}
.header-logo img {
    margin-top: 5px;
    margin-right: 18px;
    margin-left: 20px;
}
.site-name {
    position: absolute;
    top: 12px;
    left: 75px;
}
.site-navigation {
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.site-navigation li{
    float: right;
    margin-left: 10px;
}
.site-navigation li:first-child {
    margin-right: 10px;
}
.site-navigation {
    list-style: none;
}
.site-navigation a {
    color: #303846;
    text-decoration: none;
}
.site-navigation a:hover {
    color: rgb(100, 120, 172);
    
}
.site-navigation a:active {
    color:#10141a;
}

.banner {
    height: 450px;
    background: url(/images/banner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-image {
    margin-top: 80px;
}
.banner h1 {
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}
.tagline {
    font-size: 14px;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}
.features-list {
    min-width: 1000px;
    display: flex;
    justify-content: center;
}
.features-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.features-list li {
    background-color: white;
    list-style: none;
}
.feature-item {
    width: 500px;
    padding-left: 25px;
    padding-right: 25px;
}
.features h2 {
    font-size: 19px;
}
.about {
    display: flex;
    min-width: 1000px;
    background-color: #f7f7f7;
}
.info {
    margin-top: 30px;
    margin-right: 158px;
    margin-left: 158px;
    margin-bottom: 95px;
}
.picture-about {
    margin-bottom: 54px;
    margin-right: 158px;
    margin-top: 50px;
}
.order {
    min-width: 1000px;
    background-color: #f7f7f7;
}
.order fieldset {
    color: #09d3ac;
    border-color: #00a685;
}
.order fieldset label {
    color:#303846;
}
.order input[type="text"],
.order select {
    border-radius: 4px;
}
footer {
    background-color:#303846;
    color: white;
}
/* .advantages {
    height: 236px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.adnvantage {
    padding: 0px 20px;
    margin: 0px;
}
h2 {
     
} */