body {
    background-color: #fff;
    color: #303846;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
h1 {
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}
h2 {
    font-size: 19px;
}
h3 {
    margin: 0 0;
}
h4 {
    padding: 0;
    margin: 0;
}
.btn {
    text-align: center;
    width: 130px;
    display: inline-block;
    padding: 10px;
    background: 0;
    border-radius: 8px;
    border: 1px solid;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
}
.header-logo {
    display: flex;
    align-items: center;
    padding-left: 18px;
}
.site-name {
    padding-left: 10px;
}
.site-navigation {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    list-style: none;
}
.site-navigation li{
    margin-left: 10px;
}
.site-navigation a {
    color: #303846;
    text-decoration: none;
}
.site-navigation a:hover {
    color: rgb(100, 120, 172);
    
}
.site-navigation a:active {
    color:#10141a;
}
.intro {
    background: url(/images/banner.png);
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.logo-image img {
    width: 140px;
    height: 140px;
    margin-top: 40px;
}
.tagline {
    font-size: 14px;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}
.intro a {
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    border-color: #FFF;
}
.btn:hover {
    color:rgb(207, 207, 207);
    border-color: rgb(207, 207, 207);
}
.features {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.wrapper {
    width: 1000px;
    display: flex;
    justify-content: center;
}
.about {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 60px 0px;
}
.info {
    display: block;
    margin-right: 158px;
}
.relaxation-places {
    display: flex;
    justify-content: center;
    background-color:inherit;
    padding: 60px 0px;
}
.info-places {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 158px;
}
.order {
    font-style: inherit;
    font-weight: bold;
    display: block;
    min-width: 1000px;
    background-color: #f7f7f7;
}
.wrapper-form {
    width: 420px;
    margin: 0 auto;
}
.order h3 {
    font-size: 24px;
    text-align: center;
    padding: 18px 0px;
}
.order fieldset {
    width: 370px;
    padding-left: 18px;
    color: #09d3ac;
    border-color: #09d3ac;
}
.order fieldset label {
    display: inline-block;
    margin-top: 18px;
    color:#303846;
}
.order input[type="text"],
.order select {
    border-radius: 6px;
    border: 1px solid gray;

}
.order select {
    height: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    background: white;
}
.apartment-options {
    display: inline-block;
}
.count-rooms {
    margin-right: 21px;
}
.apartment-options select{
    width: 120px;
}
.decor {
    display: inline-block;
    margin-bottom: 31px;
    margin-right: 110px;
}
.contact-info {
    margin-top: 20px;
}
.contact-info input {
    width: 160px;
    height: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    background: white;
}
.customer-name {
    display: inline-block;
    margin-right: 142px;
}
.phone {
    display: inline-block;
    margin-right: 104px;
}
.email {
    display: inline-block;
    margin-right: 127px;
    margin-bottom: 24px;
}
input[type="submit"] {
    color: #5DCFAE;
    border-color:#5DCFAE;
    font: inherit;
    margin-top: 16px;
    margin-bottom: 66px;
}
input[type="submit"]:hover {
    color:rgb(147, 243, 216);
    border: 1px solid rgb(147, 243, 216);
}
footer {
    height: 174px;
    display: flex;
    justify-content: space-around;
    background-color:#303846;
    align-content: baseline;
    color: white;
    font-size: 14px;
    padding-top: 52px;
}
.footer-menu a {
    color: white;
    text-decoration: none;
}
.footer-menu a:hover {
    color: rgb(100, 120, 172);
}
.footer-menu a:active {
    color:#10141a;
}
.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo img {
    margin-right: 12px;
}
.year {
    display: block;
    margin-top: 16px;
}